.navbar {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  gap: 25rem;
  margin-right: 3%;
}

.logo {
  width: auto;
  height: 40px;
}

@media screen and (max-width: 500px) {
  .navbar {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    gap: 14rem;
    /* margin-right: 3%; */
  }
}

/* @media screen and (max-width: 980px) {
  .nav-links {
    flex-direction: column;
    display: none;
    align-items: center;
    padding-top: 6rem;
    background-color: #15233b;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
  }
} */
